* {
    box-sizing: border-box;
}



head {

}
body{
    margin:0;

}

img {
    width: 100%;
    height: auto;
}
.headpic{
    background-color:#fdbc5e ;
}

#LFM-about-us {
    display: inline;
    float: left;
    width: 100%;

}

.LFM-about-us-area {
    display: inline;
    float: left;
    width: 100%;
}

.LFM-about-us-right {
    display: inline;
    float: left;
    margin-top: 20px;
    padding-top: 30px;
    padding-left: 80px;
    width: 100%;
}

.LFM-about-us-right ul {
    margin-bottom: 20px;
    padding-left: 25px;
}

.LFM-about-us-right ul li {
    line-height: 24px;
    margin-bottom: 10px;
}



.LFM-about-us-left {
    display: inline;
    float: left;
    margin-top: 20px;
    padding-top: 30px;
    padding-right: 15px;
    width: 100%;
}
.LFM-about-us-left ul li:before {
    margin-right: 10px;
}


.btn{
    display: inline-block;
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.EnrollBtn{
    background-color: #a3e7d6;
    color: #fff;
    margin-right: 15px ;
    border: 1px solid #fff;

}

.EnrollBtn:hover{
    background-color:#fdbc5e;

}

.TrailBtn{
    background-color: #a3e7d6;
    color: #fff;
    margin-right: 15px ;
    border: 1px solid #fff;

}

.TrailBtn:hover{
    background-color:#fdbc5e;

}

.blink{
    animation: colorchangemusic 1s infinite;
}


.testimonial {
    margin-top: 20px;
   background-color: #CCE8E0;
    width: 100%;

}
.testimonial h1{
    text-align: center;
    font-weight: bold;
    color: #808080;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.testimonial h1::after{
    content: '';
    background: #fdbc5e;
    display: block;
    height: 3px;
    width:170px;
    margin: 20px auto 5px;

}

.testimonial.row{
    margin-top: 30px;
}
.col-md-4{
    margin:40px auto;
}
.testimonial-info{
    padding: 10px 10px;
    background-color: #EFEFEF;
}
blockquote{
    font-size:20px;
    line-height: 30px;
}
blockquote::before{
    content: open-quote;
    font-size: 50px;
    position: relative;
    color:#fdbc5e;
    line-height: 20px;
    bottom:-15px;
    right: 130px;
}
blockquote:after {
    content: close-quote;
    font-size: 50px;
    position: relative;
    color:#fdbc5e;
    line-height: 20px;
    bottom:-15px;
    left:130px;

}

.testimonial-info:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}



.sub-footer{
background-color:#f1f1f1 ;
    height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;


}

.classbtn{
    background-color:#a3e7d6 ;
    color: #fff;
    font-size: 25px;
    border: 1px solid #fff;
    text-transform: uppercase;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;


}

.classbtn:hover{
    background-color:#fdbc5e;
    text-decoration: none;

}




