<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
    RewriteRule ^/ChildrensMusicClassesMelbourne$ /childrens-music-classes-melbourne [L]
    RewriteRule ^/BestChildrensSongs$ /best-childrens-songs [L]
    RewriteRule ^/FacebookPromo$ /facebook-promo [L]
</IfModule>

